body {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #3A4768;
  padding: 0;
  margin: 0;
  letter-spacing: 0;
}

p {
  font-family: 'Georgia' , Sans-serif;
  margin: 0;
}

ul, li {
  display: block;
  margin-bottom: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat';
  font-weight: 600;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 16px;
}

a, a:hover, a:focus, a:active {
  color: currentColor;
  text-decoration: none;
}

a, button, input {
  transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active,
textarea, textarea:hover, textarea:focus, textarea:active,
a, a:hover, a:focus, a:active
{
  outline: none;
  border: none;
}

input {
  max-width: 280px;
  width: 100%;
}

img {
  max-width: 100%;
}

.download {
  font-size: 18px;
  color: #fff;
  line-height: 22px;
  border: 1px solid transparent;
  background: linear-gradient(120.71deg, #F16592 8.14%, #F744BA 100.11%);
  box-shadow: 0px 4px 10px rgba(115, 113, 236, 0.46);
  border-radius: 20px;
  padding: 15px 38px 20px;
}

.download:hover {
  color: #FFE1F4;
  border: 1px solid transparent;
}

/* - - - - - Header - - - - - */

.header {
  padding-bottom: 105px;
}

.navigation {
  background: url('..//img/header-bg.png') no-repeat top center;
  padding: 26px 0 220px;
}

.nav {
  margin-left: 200px;
}

.nav__item:not(:last-child) {
  margin-right: 74px;
}

.nav__link {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.4s ease;
}

.nav__link:hover {
  color: #3A4768;
}

.phone-image {
  position: relative;
}

.phone-image:before {
  content: url('..//img/paws-phone.svg');
  position: absolute;
  top: -30px;
  left: -130px;
}

.offer {
  padding-top: 10px;
}

.main {
  padding-top: 150px;
}

.main__title {
  margin-bottom: 38px;
}

.main__btn {
  margin-top: 53px;
}

.forward {
  margin-top: 65px;
  position: relative;
}

.forward:after {
  content: url('..//img/paws-vector.svg');
  position: absolute;
  top: -90px;
  right: 0;
}

.forward__link {
  position: relative;
}

.forward__link:after {
  content: url('..//img/Vector2.svg');
  height: 30px;
  width: 65px;
  position: absolute;
  top: 22px;
  left: 0;
}

/* - - - - - - Advantages-section - - - - - - */

.advantages-section {

background: linear-gradient(154.66deg, rgba(119, 220, 213, 0.05) -0.5%, rgba(121, 119, 235, 0.05) 104.39%);
padding: 40px 0;
}

.advantages__img {
  margin-bottom: 40px;
}

.advantages__title {
  max-width: 340px;
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  margin: 0 auto;
}

/* - - - - - - Skills - - - - - - */

.skills {
  padding: 143px 0 70px 65px;
  overflow: hidden;
}

.skill__main {
  max-width: 700px;
  line-height: 45px;
  margin-bottom: 62px;
}

.skill__item {
  margin-left: 43px;
}

.skill__item:not(:last-child) {
  margin-bottom: 60px;
}

.skill__text {
  max-width: 450px;
  font-size: 24px;
  line-height: 27px;
  margin-top: 28px;
}

.skill__title {
  position: relative;
}

.skill__title_first:before {
  content: url('..//img/paw1.svg');
  position: absolute;
  left: -43px;
}

.skill__title_second:before {
  content: url('..//img/paw2.svg');
  position: absolute;
  left: -43px;
}

.skill__title_third:before {
  content: url('..//img/paw3.svg');
  position: absolute;
  left: -43px;
}

.skill-image {
  margin-top: 20px;
  position: relative;
}

.skill-image:after {
  content: url('..//img/paws-phone-skill.svg');
  position: absolute;
  bottom: -90px;
  right: -100px;
}

/* - - - - - - Feedback - - - - - - */

.feedback {
  padding: 65px 0;
  position: relative;
  overflow: hidden;
}

.feedback:before {
  content: url('..//img/pats.png');
  position: absolute;
  bottom: -28px;
  left: 200px;
}

.feedback:after {
  content: url('..//img/feedback-bg.png');
  position: absolute;
  bottom: -250px;
  left: -100px;
  z-index: -1;
}





.feedback-title {
  max-width: 800px;
  font-weight: 700;
  line-height: 37px;
  margin: 0 auto;
  position: relative;
}

.feedback-title:before {
  content: url('..//img/paws-feedback-title.svg');
  position: absolute;
  top: 30px;
  left: -200px;
}

/* - - - - - - Order - - - - - - */

.order {
  max-width: 324px;
  padding: 15px 22px;
  background-color: #8eafd2;
  border: 1px solid #8eafd2;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  margin: 221px 0 137px 12px;
  position: relative;
}



.order__title {
  max-width: 240px;
  font-weight: 500;
  color: #fff;
  margin: 0 auto;
}

.order__input {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 17px;
  background-color: #f9f9ff;
  border-radius: 5px;
  padding: 10px 0 10px 13px;
}

textarea {
  max-width: 280px;
  width: 100%;
  min-height: 113px;
  font-size: 14px;
  line-height: 20px;
  background-color: #f9f9ff;
  border-radius: 5px;
  padding: 11px 0 0 13px;
  margin-top: 15px;
  resize: none;
}

.btn {
  width: 161px;
  font-size: 15px;
  line-height: 15px;
  color: #fff;
  text-align: center;
  background: #A6C0DB;
  border: 1px solid #a6c0db;
  border-radius: 20px;
  padding: 10px 38px 8px;
}

input::-webkit-input-placeholder {color:#A7A7A7;}
input::-moz-placeholder {color:#A7A7A7;}
input:-moz-placeholder {color:#A7A7A7;}
input:-ms-input-placeholder {color:#A7A7A7;}

input:focus::-webkit-input-placeholder {color: #000}
input:focus::-moz-placeholder {color: #000}
input:focus:-moz-placeholder {color: #000}
input:focus:-ms-input-placeholder {color: #000}

textarea::-webkit-input-placeholder {color:#A7A7A7;}
textarea::-moz-placeholder {color:#A7A7A7;}
textarea:-moz-placeholder {color:#A7A7A7;}
textarea:-ms-input-placeholder {color:#A7A7A7;}

textarea:focus::-webkit-input-placeholder {color:#000;}
textarea:focus::-moz-placeholder {color:#000;}
textarea:focus:-moz-placeholder {color:#000;}
textarea:focus:-ms-input-placeholder {color:#000;}

.order:before {
  content: url('..//img/plane.png');
  position: absolute;
  top: -102px;
  left: -145px;
  z-index: -1;
}

.order:after {
  content: url('..//img/order-phone.png');
  position: absolute;
  top: -66px;
  left: 141px;
  z-index: -1;
}

.load {
  display: flex;
  justify-content: center;
  position: relative;
}

.load:after {
  content: url('..//img/paws-order.svg');
  position: absolute;
  bottom: 0;
  right: -100px;
}

/* - - - - - - Footer - - - - - - */

.footer {
  background: #8EAFD2;
  padding: 24px 0 26px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.footer:before {
  content: url('..//img/paws-footer-left.svg');
  position: absolute;
  top: 20px;
  left: 0;
}

.footer:after {
  content: url('..//img/paws-footer-right.svg');
  position: absolute;
  top: 20px;
  right: 0;
  z-index: -1;
}

.social {

}

.social__link:not(:last-child) {
  margin-right: 31px;
}

.made__text {
  font-size: 19px;
  line-height: 22px;
  color: #fff;
  margin-top: 22px;
}

.made__text span {
  color: #AF0707;
}

.rights__text {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  margin-top: 17px;

}


/* - - - - - - Media Queries - - - - - - */

/* 992 - 1200px */

@media screen and (max-width: 1199.98px) {
  .nav {
    margin-left: 100px;
  }
  .feedback:before {
    left: 0;
  }
  .order:before {
    top: -136px;
    left: -169px;
  }
  .order:after {
    top: -190px;
    left: 63px;
  }
}

/* 768 - 992px */

@media screen and (max-width: 991.98px) {
  .nav__item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .nav__item:not(:last-child) {
    margin-right: 20px;
  }
  .icon__img {
    width: 90%;
  }
  .main {
    padding-top: 50px;
  }
  .main__title {
    font-size: 32px;
  }
  .main__text {
    font-size: 24px;
  }
  .forward:after {
    display: none;
  }
  .advantages__title {
    font-size: 26px;
  }
  .skill__list {
    position: relative;
  }
  .skill-image {
    position: absolute;
    top: -567px;
    right: -210px;
  }
  .order:after {
    display: none;
  }
  .feedback-order {
    text-align: center;
  }
  .order {
    margin-top: 120px;
  }
  .order:before {
    top: -100px;
    left: -150px;
  }
}

/* 576 - 768px */

@media screen and (max-width: 767.98px) {
  .navigation {
    padding-bottom: 130px;
  }
  .icon__img {
    width: 90%;
  }
  .nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  .nav__link {
    font-size: 20px;
  }
  .phone-image:before {
    display: none;
  }
  .offer {
    text-align: center;
    position: relative;
  }
  .offer:before {
    content: url('..//img/paws-phone.svg');
    position: absolute;
    top: -110px;
    left: -40px;
  }
  .forward {
    margin-top: 90px;
  }
  .advantages-section {
    padding: 50px 0 0;
  }
  .advantages {
    margin-bottom: 50px;
  }
  .skills {
    padding: 60px 0;
  }
  .skill__item {
    margin-left: 0;
  }
  .skill__text {
    max-width: 100%;
  }
  .skill__title_first:before {
    left: 125px;
  }
  .skill__title_second:before {
    left: 95px;
  }
  .skill__title_third:before {
    left: 95px;
  }
  .feedback:before {
    display: none;
  }
}

/* 320 - 576px */

@media screen and (max-width: 575.98px) {
  .icon__img {
    max-width: 40%;
  }
  .navigation {
    padding-bottom: 170px;
  }
  .advantages__title {
    font-size: 24px;
  }
  .skills {
    padding: 60px 0 30px;
  }
  .skill__main {
    font-size: 26px;
  }
  .skill__title {
    font-size: 26px;
    display: inline-block;
  }
  .skill__text {
    font-size: 21px;
  }
  .skill__title_first:before {
    left: -40px;
  }
  .skill__title_second:before {
    left: -40px;
  }
  .skill__title_third:before {
    left: -40px;
  }
  .order {
    margin-bottom: 100px;
  }
  .feedback {
    padding-top: 30px;
  }
  .feedback-title {
    font-size: 26px;
  }
  .rights__text {
    font-size: 16px;
  }
}